html {
    height: 100%;
    background: url(../images/bg_header_air.jpg) repeat-x center top;
}

body {
    width: 960px;
    box-sizing: border-box;
    padding: 0;
    margin: 0px auto;
    height:auto !important;
	height:100%;
  	min-height:100%;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

h1, h2, h3 {
    font-weight: 300;
    color: #002D69;
}

.airlines-logo {
    padding: 0;
    margin: 20px 0px 0px -1px;
}

.select-language select {
    display: inline-block;
    border: none;
    background: none;
    margin: -1px 0px 0px 887px;
    font-size: 13px;
    color: #002D69;
}

.select-language {
    margin: 0 11px 0px 0;
    overflow: hidden;
    background: url(../images/lang-sel-arrow.png) no-repeat right;
}

.states {
    display: table;
    background: url(../images/states-back.png) no-repeat;
    margin: 27px auto 14px auto;
    width: 960px;
}

.states ul{
    box-sizing: border-box;
    display: table-row;
    height: 40px;
    list-style: none;
}

.states li {
    display: table-cell;
    text-align: center;
    font-weight: 600;
    color: #002D69;
}

.states li span {
    line-height: 40px;
}

.states-selection {
    width: 176px;
}

.active-state {
    width: 200px;
    color: white !important;
}

.states-travellers {
    width: 186px;
}

.states-purchase {
    width: 202px;
}

.states-selection:after{
    float: right;
    content: url(../images/states-arrow.png);
    margin: 1px -14px 0px 0px;
}

.states-travellers:after{
    float: right;
    content: url(../images/states-arrow.png);
    margin: 1px -12px 0px 0px;
}

.states-purchase:after{
    float: right;
    content: url(../images/states-arrow.png);
    margin: 1px -8px 0px 0px;
}

.active-state:after{
    float: right;
    content: url(../images/states-selection.png);
    margin: -39px 0px 0px -4px;
}

.main {
    box-sizing: border-box;
    width: 664px;
    max-width: 664px;
    float: left;
}

.main h1 {
    font-size: 36px;
}

.main h2 {
    font-size: 24px;
}

.iteneraryDetails {
    margin-top: 38px;
    
}

.iteneraryDetails h2 {
    margin: 0;
    float: left;
}

.linkFareRules {
    font-size: 12px;
    margin: 13px 0px 16px 404px;
    float: left;
}

.iteneraryDetailsMain {
    border: 1px solid #D9E2ED;
    clear: both;
    padding: 0;
    box-sizing: border-box;
}

.flights {
    box-sizing: border-box;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.flights tr {
    border-bottom: 1px solid #D9E2ED;
}

.flights tr td:nth-child(1) {
    width: 200px;
}

.flights tr td:nth-child(2) {
    width: 205px;
}

.flights tr td:nth-child(3) {
    width: 126px;
}

.flights tr td{
    box-sizing: border-box;
    padding: 16px 0px 15px 20px;
    vertical-align: top;
    text-align: left;
}

.airportName {
    font-size: 15px;
    font-weight: 500;
}

.flights time {
    font-size: 13px;
}

.flights tr td div:nth-child(3) {
    padding-top: 4px;
    font-size: 13px;
}

.flights tr td div:nth-child(2) {
    padding-top: 4px;
    font-size: 13px;
}

.flights tr td:nth-child(3) div:first-child {
    padding-top: 3px;
    font-size: 13px;
    font-weight: bold;
}

.flights tr td:nth-child(4) {
    padding-top: 19px;
    font-size: 13px;
}

.flights tr:nth-child(odd) {
    background-color: #DCE0E4;
}

.flights tr:nth-child(even) {
    background-color: #F5F6F7;
}

.iteneraryDetails h3 {
    margin-top: 18px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 800;
}

.fareBreakdown {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #D9E2ED;
}

.fareBreakdown thead {
    background-color: #0F3973; 
}

.fareBreakdown thead, .fareBreakdown thead a {
    color: white;
}

.fareBreakdown thead tr th {
    font-weight: 100;
    line-height: 18px;
}

.fareBreakdown th:first-child {
    padding: 4px 0px 6px 20px;
}

.fareBreakdown th:first-child, .fareBreakdown td:first-child {
    text-align: left;
}

.fareBreakdown th:nth-child(n+2) {
    padding: 4px 20px 6px 0px;
}

.fareBreakdown th:nth-child(n+2), .fareBreakdown td:nth-child(n+2) {
    text-align: right;
    vertical-align: top;
}

.fareBreakdown th:nth-child(1) {
    width: 54px;
}

.fareBreakdown th:nth-child(2) {
    width: 83px;
}

.fareBreakdown th:nth-child(3) {
    width: 79px;
}

.fareBreakdown th:nth-child(4) {
    width: 83px;
}

.fareBreakdown th:nth-child(5) {
    width: 75px;
}

.fareBreakdown th:nth-child(6) {
    width: 67px;
}

.fareBreakdown td:first-child {
    padding: 11px 0px 3px 20px;
}

.fareBreakdown td:nth-child(n+2) {
    padding: 11px 20px 3px 0px;
}

.fareBreakdown tr:nth-child(2) {
    border-top: 1px dotted #D9E2ED;
    border-bottom: 1px dotted #D9E2ED;
}

.fare-benefits {
    padding: 16px 0px 15px 22px;
    font-size: 13px;
}

.fare-benefits div:before {
    content: '\2013\0020\0020';
}

.fare-benefits ul {
    margin: 0;
    padding: 4px 0px 19px 28px;
}

.fare-benefits ul li {
    line-height: 22px;
}

.totalCost {
    margin: 7px 5px 17px 400px;
    table-layout: fixed;
}

.totalCost td {
    text-align: right;
    vertical-align: bottom;
}

.totalCost td:first-child {
    width: 120px;
    font-size: 13px;
}

.totalCost td:last-child {
    color: #FE2B2B;
    width: 120px;
}

.totalCost tr:first-child td:first-child {
    padding-bottom: 3px;
}

.totalCost tr:first-child td:last-child {
    font-size: 24px;
}

.totalCost tr:first-child td:last-child:first-letter {
    font-size: 19px;
}

.totalCost tr:last-child td:last-child {
    padding-top: 1px;
    font-size: 13px;
}

.luggageInfo {
    margin-top: 43px;
}

.additionalOptions {
    font-size: 16px;
    color: #80ABD4;
}

.luggageInfoMain {
    box-sizing: border-box;
    border: 1px solid #D9E2ED;
    margin-top: -4px;
}

.makeSavings {
    border-bottom: 1px solid #D9E2ED;
    padding: 14px 0px 10px 39px;
    vertical-align: middle;
    min-height: 67px;
}

.makeSavings:before {
    float: left;
    content: url(../images/bags.gif);
}

.makeSavings span {
    display: block;
    float: left;
    margin: 27px 5px 5px 41px;
    font-size: 15px;
}

.luggageInfo h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 21px 20px 18px 18px;
}

.air-to:after {
    content: url(../images/air-to.gif);
    float: right;
}

.air-back:after {
    content: url(../images/air-back.gif);
    float: right;
}

.passengers-bags {
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px dotted #D9E2ED;
    margin-top: 3px;
    clear: both;
}

.passengers-bags td {
    font-size: 13px;
}

.passengers-bags tr:first-child td:first-child {
    width: 200px;
    text-align: left;
    vertical-align: top;
    padding: 11px 0 0 20px;
}
 
.passengers-bags tr:first-child td:nth-child(2), .passengers-bags tr:nth-child(n+2) td:first-child {
    width: 330px;
    text-align: left;
    vertical-align: middle;
    padding: 5px 0px 3px 7px;
}

.passengers-bags select {
    width: 276px;
    padding: 3px 0px 5px 2px;
}

.passengers-bags span {
    display: inline-block;
    padding: 3px 0 1px 0;
}

.trash {
    display: block;
    float: right;
    margin: -21px 33px 0 0;
}


.add-luggage {
    display: inline-block;
    margin: 4px 0 7px 1px;
}

.add-luggage:before {
    content: url(../images/add-cross.gif);
    float: left;
    padding-right: 5px;
}

.passengers-bags tr:first-child td:nth-child(3), .passengers-bags tr:nth-child(n+2) td:nth-child(2) {
    text-align: right;
    padding: 4px 27px 0 0;
}

.total-luggage {
    margin: 38px 5px 17px 400px;
    table-layout: fixed;
}

.total-luggage td {
    text-align: right;
    vertical-align: bottom;
}

.total-luggage td:first-child {
    width: 106px;
    font-size: 13px;
    padding-bottom: 6px;
}

.total-luggage td:last-child {
    color: #FE2B2B;
    font-weight: 700;
    width: 136px;
    font-size: 24px;
}

.total-luggage td:last-child:first-letter {
    font-size: 19px;
}

.travelInsurance {
    margin-top: 51px;
}

.travelInsurance h2 {
    margin: 0;
}

.travel-insurance-main {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #D9E2ED;
}

.travel-insurance-main-head {
    border-bottom: 1px solid #D9E2ED;
    margin: 0;
}
.europ-assistance-image {
    float: left;
    margin: 16px 32px 15px 30px;
    padding: 5px;
}

.travel-insurance-main-head h3 {
    margin: 0;
    padding: 24px 0 12px;
    font-size: 15px;
    font-weight: bold;
}

.residence-confirmation {
    margin: 0;
    font-size: 13px;
    padding: 0px 0 10px
}

.residence-confirmation input {
    display: inline-block;
    margin: 2px 0 0 4px;
}

.residence-confirmation label {
    display: inline-block;
    margin: 0px 0 10px 8px;
}

.insurances {
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid #D9E2ED;
    background-color: #F5F6F7;
    font-size: 13px;
    height: 88px;
}

.insurances-check {
    float: left;
    margin: 19px 21px 24px 24px;
    padding: 0;
}

.insurances div div:first-child {
    padding-top: 18px
}

.insurances div div:nth-child(2) {
    padding: 4px 0 5px;
}

.insurances div div:last-child:before {
    content: "+";
    padding-right: 7px;
}

.total-insurance {
    margin: 26px 5px 24px 400px;
    table-layout: fixed;
}

.total-insurance td {
    text-align: right;
    vertical-align: bottom;
}

.total-insurance td:first-child {
    width: 106px;
    font-size: 13px;
    padding-bottom: 2px;
    font-weight: bold;
}

.total-insurance td:last-child {
    color: #FE2B2B;
    font-weight: 700;
    width: 136px;
    font-size: 24px;
}

.total-insurance td:last-child:first-letter {
    font-size: 19px;
}

.total {
    margin: 17px 5px 10px 400px;
    table-layout: fixed;
}

.total td {
    text-align: right;
    vertical-align: bottom;
}

.total td:first-child {
    width: 131px;
    font-size: 13px;
    padding-bottom: 2px;
    font-weight: bold;
}

.total td:last-child {
    color: #FE2B2B;
    font-weight: 700;
    width: 124px;
    font-size: 24px;
}

.total td:last-child:first-letter {
    font-size: 19px;
}

.page-operations {
    margin: 23px 0 0 0;
}

.page-operations div:first-child {
    float: left;
    padding-top: 10px;
}

.page-operations div:last-child {
    float: right;
}

.page-operations div:last-child a {
    display: block;
    padding-top: 39px;
    padding-right: 49px;
    height: 0px;
    overflow: hidden;
    background: url(../images/next-button.png) no-repeat;
}

.aside {
    box-sizing: border-box;
    width: 267px;
    float: right;
    font-size: 13px;
    margin: 0;
}

.aside article {
    margin: 32px 0 0 0 ;
    box-sizing: border-box;
}

.aside article header {
    background: url(../images/aside-header.png);
    margin: 0;
    height: 61px;
    box-sizing: border-box;
}

.aside h2 {
    margin: 0;
    box-sizing: border-box;
    padding: 18px 0 17px 20px;
    color: white;
    font-size: 22px;
}

.aside-main {
    margin: 0 -6px 0;
    background: url(../images/aside-back.png) center repeat-y;
    padding: 0 6px;
}

.aside-main h3 {
    font-weight: 800;
    margin: 0;
    padding: 16px 5px 0px 22px;
}

.aside-main h3:first-letter {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    display: inline-block;
    padding-right: 12px;
}

.aside-main h4 {
    color: #184077;
    margin: 0;
    padding: 4px 0 2px 0px;
}

.aside-main section {
    border-bottom: 1px solid #D9E2ED;
    padding-bottom: 6px;
}

.aside-main section:last-child {
    padding-bottom: 20px;
}

.sub-section {
    margin: 5px 0 0px;
    border-bottom: 1px dotted #D9E2ED;
    padding: 0 19px 5px 22px;
}

.flyDate {
    table-layout: fixed;
    margin: 0 0 8px 0;
    width: 100%;
}

.flyDate td {
    padding: 0;
    font-size: 12px;
}

.flyDate td:first-child {
    width: 50px;
    text-align: left;
}

.flyDate td:last-child {
    text-align: right;
}

.flights-detalisation {
    table-layout: fixed;
    width: 100%;
    margin: 10px 0 5px;
}

.flights-detalisation td {
    height: 17px;
}

.flights-detalisation td:first-child {
    text-align: left;
    width: 110px;
}

.flights-detalisation td:last-child {
    text-align: right;
}

.flights-detalisation tr:last-child {
    color: #FE0000;
}

.aside-section-total {
    margin: 5px 19px 5px 21px;
    width: 227px;
    table-layout: fixed;
}

.aside-section-total td:first-child {
    width: 120px;
    text-align: left
}

.aside-section-total td:last-child {
    text-align: right;
}

.luggage-details, .insurance-details {
    width: 236px;
    table-layout: fixed;
    margin-bottom: 16px;
}

.luggage-details td:first-child, .insurance-details td:first-child {
    text-align: left;
    width: 170px;
    height: 17px;
}

.luggage-details td:last-child, .insurance-details td:last-child {
    text-align: right;
}

.aside footer {
    background: url(../images/aside-footer.png) top center no-repeat;
    height: 51px;
    margin: 0;
    padding: 8px 19px 3px 24px;
}

.aside footer table {
    table-layout: fixed;
    width: 100%;
}

.aside footer table td {
    vertical-align: bottom;
    font-weight: bold;
}

.aside footer table td:first-child {
    width: 50%;
    padding-bottom: 2px;
}

.aside footer table td:last-child {
    text-align: right;
    color: #FE2B2B;
    font-size: 24px;
}

.aside footer table td:last-child:first-letter {
    font-size: 19px;
}

.aside footer div {
    text-align: right;
    font-size: 11px;
}

.footer {
    float: left;
    margin-top: 50px;
    width: 100%;
    background: url(../images/footer-back.png) top repeat-x;
    font-size: 13px;
}

.sub-foot {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 2px;
}

.footer h2{
    margin: 24px 0 12px;;
    font-weight: bold;
    font-size: 21px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.link-list {
    padding: 2px 0 0 13px;
    list-style-image: url(../images/footer-li.png);
}

.link-list li {
    height: 22px;
}

.image-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-list li {
    display: inline;
}

.about-us {
    width: 340px;
}

.press {
    width: 344px;
}

.sub-footer {
    margin: 47px 0 0 0;
    background: url(../images/bg_a-star-alliance-member.png) top right no-repeat;
    font-size: 11px;
    padding-top: 2px;
}

.sub-footer div {
    margin: 3px 0 4px;
}

.sub-footer address {
    font-style: normal;
}

.sub-footer ul {
    list-style: none;
    padding: 0;
}

.sub-footer li {
    display: inline-block;
    padding: 0 3px 0 0;
}

.sub-footer li:nth-child(n+2):before {
    content: "|";
    display: inline-block;
    padding-right: 3px;
}

.anotherAirlines {
    font-weight: bold;
}